# Project specific
build
include
lib
opencv

# Scons tmp files
*.swo
*.swp
*.sconsign.dblite

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
